In [ ]:
thisset = {'apple','orange','berry'}
if 'apple'in thisset:
    print("Yes it is present")
for x in thisset:
    print(x)

Yes it is present
berry
orange
apple

In [ ]:
fruits = {'apple','orange','grapes','grapes'}
tropical = {'mango','jackfruit','Chiku'}
fruits.update(tropical)
print(fruits)

{'mango', 'Chiku', 'orange', 'jackfruit', 'grapes', 'apple'}

In [ ]:
fruits = {'apple','orange','grapes','grapes'}
fruits.add('strawberry')
print(fruits)

{'strawberry', 'orange', 'grapes', 'apple'}

In [ ]:
thislist = [10,20,30,40,50,60,70,80]
#add:
thislist.append(200)
thislist.append(300)
print(thislist)
#remove
thislist.remove(10)
thislist.remove(30)
print(thislist)
#descnding orer
print(thislist[::-1])

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

In [ ]:
marks = (45,89.5,76,45.5,89,92,58,45)
#highest score and its index
print('Maximum marks is: ',max(marks))
maxmarks = marks.index(max(marks))
print('Maximum marks index is: ',maxmarks)
#lowest and count it
print('Minimum score is: ', min(marks))
freq = marks.count(min(marks))
print('Number of times the lowest score appear is: ', freq)
#reverse
score = list(marks)
print('Reverse is: ', score[::-1])
#check if present
if 76 in marks:
    print('Yes 76 is present')
else:
    print('No, not present')

Maximum marks is:  92
Maximum marks index is:  5
Minimum score is:  45
Number of times the lowest score appear is:  2
Reverse is:  [45, 58, 92, 89, 45.5, 76, 89.5, 45]
Yes 76 is present

In [1]:
# Generate a list of 100 random numbers between 100 and 900
import random
Random = [random.randint(100,900) for _ in range(100)]
listeven = []
listodd = []
listprime = []
print(Random)
for x in Random:
    if x%2==0:
        listeven.append(x)
    else:
        listodd.append(x)

for x in Random:
    for i in range(2,int(x**0.5)+1):
        if x%i==0:
            listprime.append(x)

print('Random even integers are: ', listeven)
print('Random odd integers are: ', listodd)
print('Random prime integes are: ', listprime)

[115, 334, 739, 589, 252, 611, 619, 205, 675, 668, 429, 179, 712, 568, 237, 726, 533, 323, 657, 574, 288, 363, 118, 236, 456, 801, 703, 481, 695, 678, 356, 774, 107, 253, 198, 549, 338, 812, 557, 373, 450, 822, 393, 504, 736, 166, 424, 525, 130, 284, 832, 778, 893, 789, 363, 701, 665, 306, 803, 383, 460, 549, 296, 900, 880, 563, 298, 799, 496, 598, 340, 315, 278, 707, 327, 660, 444, 286, 138, 841, 530, 372, 853, 849, 663, 191, 532, 350, 631, 125, 618, 894, 710, 473, 427, 289, 821, 706, 772, 833]
Random even integers are:  [334, 252, 668, 712, 568, 726, 574, 288, 118, 236, 456, 678, 356, 774, 198, 338, 812, 450, 822, 504, 736, 166, 424, 130, 284, 832, 778, 306, 460, 296, 900, 880, 298, 496, 598, 340, 278, 660, 444, 286, 138, 530, 372, 532, 350, 618, 894, 710, 706, 772]
Random odd integers are:  [115, 739, 589, 611, 619, 205, 675, 429, 179, 237, 533, 323, 657, 363, 801, 703, 481, 695, 107, 253, 549, 557, 373, 393, 525, 893, 789, 363, 701, 665, 803, 383, 549, 563, 799, 315, 707, 327, 841, 853, 849, 663, 191, 631, 125, 473, 427, 289, 821, 833]
Random prime integes are:  [115, 334, 589, 252, 252, 252, 252, 252, 252, 252, 252, 611, 205, 675, 675, 675, 675, 675, 668, 668, 429, 429, 429, 712, 712, 712, 568, 568, 568, 237, 726, 726, 726, 726, 726, 533, 323, 657, 657, 574, 574, 574, 288, 288, 288, 288, 288, 288, 288, 288, 363, 363, 118, 236, 236, 456, 456, 456, 456, 456, 456, 456, 801, 801, 703, 481, 695, 678, 678, 678, 356, 356, 774, 774, 774, 774, 774, 253, 198, 198, 198, 198, 198, 549, 549, 338, 338, 812, 812, 812, 812, 812, 450, 450, 450, 450, 450, 450, 450, 450, 822, 822, 822, 393, 504, 504, 504, 504, 504, 504, 504, 504, 504, 504, 504, 736, 736, 736, 736, 736, 166, 424, 424, 424, 525, 525, 525, 525, 525, 130, 130, 130, 284, 284, 832, 832, 832, 832, 832, 832, 778, 893, 789, 363, 363, 665, 665, 665, 306, 306, 306, 306, 306, 803, 460, 460, 460, 460, 460, 549, 549, 296, 296, 296, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 880, 880, 880, 880, 880, 880, 880, 880, 880, 298, 799, 496, 496, 496, 496, 598, 598, 598, 340, 340, 340, 340, 340, 315, 315, 315, 315, 315, 278, 707, 327, 660, 660, 660, 660, 660, 660, 660, 660, 660, 660, 660, 444, 444, 444, 444, 444, 286, 286, 286, 138, 138, 138, 841, 530, 530, 530, 372, 372, 372, 372, 372, 849, 663, 663, 663, 532, 532, 532, 532, 532, 350, 350, 350, 350, 350, 125, 618, 618, 618, 894, 894, 894, 710, 710, 710, 473, 427, 289, 706, 772, 772, 833, 833]

In [8]:
A = {34,56,78,90}
B = {78,45,90,23}
print('Unique scores are: ', A.union(B))
print('Scores that are common to both teams: ', A.intersection(B))
print('Scores that are exclusive to each team: ', A.symmetric_difference(B))
n=int(input("Enter the score to delete: "))
if(n in A):
  A.remove(n)
  print("Itemm has been removed", A)
else:
  print("Entered score has not been scored by the Team A")

Unique scores are:  {34, 45, 78, 23, 56, 90}
Scores that are common to both teams:  {90, 78}
Scores that are exclusive to each team:  {34, 45, 23, 56}
Enter the score to delete: 87
Entered score has not been scored by the Team A

In [14]:
sample_dict = {
    'name':'Kelly',
    'age':25,
    'salary':8000,
    'city':'New York'
}
print(sample_dict)
sample_dict.pop('city')
sample_dict['location'] = 'New York'
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New York'}
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}